
#overlay {position: fixed;top: 0;bottom: 0;left: 0;right: 0;background: rgba(0,0,0,0.3);z-index: 3;display: none;}

:root {
    font-size: 10px;
    --grey-text: #828282;
    --black-text: #111;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    display: block;
    flex-direction: column;
    font-family: "Roboto", Arial, sans-serif;
    /*    min-height: 100vh;
*/
    overflow: auto;
    overflow-x: hidden;
    margin: 0;
  }

a {
    display: inline-block;
    text-decoration: none;
}

/*.container {
    max-width: 138rem;
    margin: 0 auto;
    padding: 0 2vw;
}*/

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font: inherit;
    background: none;
    border: none;
    color: inherit;
    padding: 0;
    text-transform: uppercase;
    cursor: pointer;
}
.btn:focus{
    outline: none;
}

::-webkit-scrollbar {
    width: 1.2rem;
    height: 1.2rem;
}

::-webkit-scrollbar-track {
    background-color: #fff;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 0.5rem;
    border: 0.2rem solid #fff;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #666;
}


.ytb-header {
  height: 100px;
    display: flex;
    flex-basis: 5.6rem;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: #fff;
    padding: 0 2.2rem;
    box-shadow: 0 0.2rem 0.2rem rgba(17, 17, 17, 0.2);
    z-index: 1;
}

.logo {
    flex: 0 0 15rem;
    margin-left: 2.5rem;
}

.site-search {
    flex-grow: 1;
    margin: 0 2.5rem;
     display: flex;
    height: 3.2rem;
}

.menu-btn {
    font-size: 1.6rem;
    color: #888;
    padding: 0 0.5rem;
}
.menu-btn:hover {
    font-size: 1.6rem;
    color: red;
    /*padding: 0 0.5rem;*/
}
.menu-btn:focus {
    font-size: 1.6rem;
    color: red;
    /*padding: 0 0.5rem;*/
}


.logo h1 {
    font-family: "Oswald", Arial, sans-serif;
    font-size: 2.2rem;
    font-weight: 600;
    letter-spacing: -0.12rem;
    color: #282828;
    white-space: nowrap;
    cursor: pointer;
}

.logo-icon {
    color: #f00;
    padding-right: 0.5rem;
}

.search-input,
.search-btn {
    border: 0.1rem solid #ccc;
}

.search-input {
    flex-basis: 60rem;
    font-size: 1.5rem;
    font-weight: 500;
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
    border-right: none;
    padding-left: 1rem;
    color: var(--black-text);
}

.search-input::-webkit-input-placeholder {
    color: var(--grey-text);
}

.search-input:-ms-input-placeholder {
    color: var(--grey-text);
}

.search-input::-ms-input-placeholder {
    color: var(--grey-text);
}

.search-input::placeholder {
    color: var(--grey-text);
}

.search-btn {
    flex: 0 0 6.5rem;
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
    background-color: #f8f8f8;
    color: var(--black-text);
    cursor: pointer;
}

.search-btn:hover {
    background-color: #f0f0f0;
}

.menu {
  background-color: lighten(gray, 15%);
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0px 10px 0px 0px;
}
.icon-btn{
      padding: 1.5rem;
}
  
.menu a {
    background-color: white;
    color: black;
    display: block;
    padding: 1em;
    text-decoration: none;
  }
.menu a:hover {
      background-color: lighten(gray, 10%);
    }
  
  
  .menu > li {
    display: block;
    position: relative;
  }


.sub-menu {
  clip: rect(1px, 1px, 1px, 1px);
  opacity: 0.1;
  transition: transform 0.1s cubic-bezier(0.2, 0, 0.2, 1), opacity 0.2s cubic-bezier(0.2, 0, 0.2, 1);
  transform: translateY(-10px) scaleY(0.5);
  transform-origin: top;
  box-shadow: 0px 0px 3px black;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 100%;
  left: 0;
  width: 10em;
  z-index: 3;
}

.menu > li:hover > .sub-menu {
  clip: auto;
  opacity: 1;
  transform: translateY(0) scaleY(1);
}

.user-menu {
    flex-basis: 16rem;
    display: flex;
    font-size: 1.6rem;
    color: var(--grey-text);
}

.user-menu .btn {
    flex: 0 0 4rem;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.30s;
  padding-top: 20px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: red;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.icon-sidenav{
text-align: center;
padding: 4px;
}
.icon-sidenav:hover{
color:red;
}
.pad-10p{
  padding:10px;
}
.pad-rt-10p{
padding-right:10px;}
.sidenav-logo{
    padding: 0.25em 0 0;
}

.playlist-videos {display: block;white-space: nowrap;overflow-x: auto;height: auto;}
.playlist-video {margin: 0.5em;float: none;display: inline-block;position: relative;z-index: 0;}
.channel-videos {     margin-left: 2.5rem; }

/* Ratings widget */
.rate {
    display: inline-block;
    border: 0;
    z-index: -1;
    padding-left: 3.4em;
    /* position: relative; */
}
/* Hide radio */
.rate > input {
    display: none;
}
/* Order correctly by floating highest to the right */
.rate > label {
    float: right;
}
/* The star of the show */
.rate > label:before {
    display: inline-block;
    font-size: 3.1rem;
    padding: .3rem .2rem;
    margin: 0;
    cursor: pointer;
    font-family: FontAwesome;
    content: "\f005 "; /* full star */
    position: relative;
}

.rate .half:before {
    content: "\f089 "; /* half star no outline */
    position: absolute;
    padding-right: 0;
}
/* Click + hover color */
input:checked ~ label, /* color current and previous stars on checked */
label:hover, label:hover ~ label { color: red;  } /* color previous stars on hover */

/* Hover highlights */
input:checked + label:hover, input:checked ~ label:hover, /* highlight current and previous stars */
input:checked ~ label:hover ~ label, /* highlight previous selected stars for new rating */
label:hover ~ input:checked ~ label /* highlight previous selected stars */ { color: red;  } 

.main-sidenav {height: 100%;width: 70px;position: fixed;z-index: 0;top: 100px;left: 0;background-color: #fff;overflow-x: hidden;padding-top: 20px;bottom: 142px;z-index: 1;}

.main-sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  color: #818181;
  display: inline-grid;
}

.main-sidenav a:hover {
  color: red;
}
.channel-content{
  margin-left: 70px; /* Same as the width of the sidenav */
  padding: 10px 10px 0px 0px;
  background-color: #f9f9f9;
}
.site-footer, .page-wrap:after {
  margin-top:10px;
  height: 50px; 
  margin-left:70px;
   background-color: #212121;
  position: sticky;
  bottom: 0px;
  left: 0px;
  line-height: 50px;
  color: #aaa;
  text-align: center;
  width: 100%;
}


.video-title {
    color: var(--black-text);
}

.video-meta-data,
.video-description {
    font-size: 1.3rem;
    font-weight: 400;
    padding-left: 3.4em;
}

}

.video-description {
    max-width: 60rem;
    line-height: 1.4;
}

.video-meta-data li {
    display: inline-block;
}

.video-creator {
    padding-right: 0.4rem;
}
.video-views::after {
    content: "\00B7";
    font-size: 2.2rem;
    padding-left: 0.4rem;
    vertical-align: middle;
}
.video-title {
    font-size: 1.8rem;
    font-weight: 400;
    padding-left: 2.4em;
}


.playlist-video .video-creator {
    display: block;
    color:var(--grey-text);
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.sidenav-logo .logo {
    margin: 0;
    top: 3px;
    position: absolute;
    left: 8em;
}

.sidenav .logo > a {
    padding: 0;
}

